html {
    box-sizing: border-box;
    font-family: 'Robot',sans-serif;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

:root {
    --title-font-size: 24px;
    --title-height: 32px;
    --subtitle-font-size: 16px;
    --subtitle-height:24px;
    --aside-font-size: 10px;
    --aside-height:16px;
    --descrition-font-size: 8px;
    --description-height:8px;
    --width-small-gradient: 144px;
    --height-small-gradient:40px;
    --box-width : 144px;
    --box-height : 120px;
    --size--miniItem:16px;
    --pad:40px;
    --user-item-size: 24px;
    --miniMosaic-height: 136px;
    --circle-size: 24px;
    --width-gigas: 48px;
    --big-box-height: 216px;
    --btn-width: 154px;
    --btn-height: 40px;

    --main-bg-color: #FFFFFF;
    --secondary-color: #F5F6FC;
    --icons-bg-color: #C8CCDB;
    --neutral-gray: #A6AABB;
    --menu-font-color: #858A9D;
    --aside-second-color:#464C61;
    --text-color: #343951;

    --first-color-donut:#4AC29D;
    --second-color-donut:#FF9F00;
    --third-color-donut:#BCBECA;
    --fourth-color-donut:#689FF8;
    --fifth-color:#FF6860;

    --aside-third-color: #BEC0C8;
    --button-color:#FF9F00;
    --button-secondary-color: #FFB233;
    --input-text-color: #BCBECA;
    --gap: 19px;
    --medium-font-size: 16px;
    
    
    
    --big-box-with: 194px;
    
    --mosaics--width: 256px;
    --mosaics-height: 160px;
    
    
    
    --user-icon-size: 31px;
    --squares-size: 40px;
    
}

body {
   margin:0;
}

.container {
    background-color:var(--main-bg-color);
    height: 1024px;
    min-width: 100vw;
    display: grid;
    grid-template-columns: 224px 1fr 320px;
}
/*---------ASIDE---------------*/
aside{
    display: grid;
    grid-template-rows: 80px 288px 376px 160px 40px;
    background-color: var(--text-color);
    padding: var(--pad);
}
.gradient{
    grid-row: 1/2;
    width:var(--width-small-gradient);
    height:var(--height-small-gradient);
    border-radius: 8px;
    background: linear-gradient(90deg,var(--second-color-donut) 0%,var(--fifth-color) 50%, var(--fourth-color-donut) 100%);
}
.gradient.big{
    height: 48px;
    width: 208px;
}
.upperAside {
    display: grid;
    grid-template-rows: repeat(6,48px);
    grid-row: 2/3;
}
.placeholder {
    display: grid;
    grid-template-columns: 40px 104px;
  
}
.placeholderMini {
    display: grid;
    align-content: stretch;
    grid-template-columns: 24px 88px;
}
label input {
    margin-left: 32px;
    margin-right: 19px;
}

.bottomAside{
    display: grid;
    align-content: stretch;
    grid-template-rows: repeat(4,1fr);
    padding: 12px 16px;
    grid-row: 4/5;
    width: var(--box-width);
    height: var(--box-height);
    background-color: var(--aside-second-color);
    border-radius: 5%;
    color: var(--aside-third-color);
}
.createBtn {
    grid-row: 5/6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--box-width);
    height: var(--height-small-gradient);
    background-color: var(--second-color-donut);
    color: var(--main-bg-color);
    border-radius: 8px;
    padding: 8px 16px;
}
.plus {
    font-size: var(--title-font-size);
}
/*-----------MAIN--------*/
.main{
    display: grid;
    grid-column: 2/3;
    background-color: var(--secondary-color);
    padding: var(--pad);
    grid-template-rows: 74px 242px 410px 218px;
}
.recentFiles {
    padding: 2rem 0px;
}
.form {
    background: var(--main-bg-color);
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 48px;
    padding : 12px;
    border-radius: 8px;
    border: 1px solid var(--icons-bg-color)
}
.searchButton {
    background: transparent;
    border: none;
    outline: none;
}
img {
    width: var(--user-item-size);
    height: var(--user-item-size);
    background: var(--main-bg-color);
}
.icon {
    width: var(--user-item-size);
    height: var(--user-item-size);
    background: var(--secondary-color);
}
.searchInput {
    font-size: var(--subtitle-font-size);
    line-height: var(--subtitle-height);
    font-weight: 400;
    color: var(--neutral-gray);
    border: none;
    background: var(--main-bg-color);
}
.h1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 24px;
    height: 2rem;
}
.options{
    display: flex;
    flex: 0 0 3.5rem;
    justify-content: space-between;
}
.title {
    font-size: var(--title-font-size);
    line-height: var(--title-height);
    font-weight: 500;
    color:var(--text-color);
}
.description {
    font-size: var(--subtitle-font-size);
    line-height: var(--subtitle-height);
    color: var(--menu-font-color);
    font-weight: 500;
}
.mosaics {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3,30%);
}
.mosaic {
    display: grid;
    grid-template-rows: 45% 30% 25%;
    height: var(--mosaics-height);
    background-color: var(--main-bg-color);
    border-radius: 1rem;
    padding: 1.5rem;
    box-shadow: 0px 4px 16px rgba(200,204, 219, 0.5);
}
.miniMosaic {
    display: flex;
    align-content: space-between;
    flex-direction: column;
    height: var(--miniMosaic-height);
    background-color: var(--main-bg-color);
    border-radius: 1rem;
    padding: 1.5rem;
    box-shadow: 0px 4px 16px rgba(200,204, 219, 0.5);
}
.square {
    justify-self: center;
    width: var(--squares-size);
    height: var(--squares-size);
    background-color: var(--button-color);
    border-radius: 4px;
    box-shadow:  -8px 8px 0 0rem rgba(255, 159, 0, 0.4);
}
.dots1 {
    color: var(--icons-bg-color);
    font-size: 1.25rem;
    line-height: var(--subtitle-height);
}
.optionsMosaic {
    display: grid;
    grid-template-columns: 39% 11% 11% 34% 5%;
}
.squares {
    grid-row: 1/3;
    width: var(--squares-size);
    height: var(--squares-size);
    background-color: var(--button-color);
    border-radius: 4px;
}
.miniSquares {
    width: 24px;
    height: 24px;
    background-color: var(--button-color);
    border-radius: 4px;
}
.dots {
    justify-self: end;
    grid-column: 5/6;
    color: var(--menu-font-color);
    font-size: 1.25rem;
    line-height: var(--subtitle-height);
}
.squares.light {
    background: #FFD999;
    grid-row: 2/3;
    border-radius: 4px;
}
.rings {
    width: var(--circle-size);
    height: var(--circle-size);
    background: var(--icons-bg-color);
    border-radius: 50%;
    border: 2px solid var(--main-bg-color) ;    
}
.ring {
    text-align: center;
    vertical-align: middle;
    line-height: 22px;  
    color: var(--main-bg-color);
    font-size: var(--aside-font-size);
    width: var(--circle-size);
    height: var(--circle-size);
    background: var(--menu-font-color);
    border-radius: 50%;
    border: 2px solid var(--main-bg-color) ;    
}
.optionsMiniMosaic {
    display: grid;
    height: 40px;
    grid-template-columns: 63% 11% 11% 15%;
}
.ringNew {
    width: var(--circle-size);
    height: var(--circle-size);
    background: var(--icons-bg-color);
    border-radius: 50%;
    border: 1px solid var(--main-bg-color)
}
.ringColor {
    width: var(--circle-size);
    height: var(--circle-size);
    border-radius: 50%;
    background: var(--main-bg-color)
}
.ringColor.green {
    border: 1px solid #4AC29D;
}
.ringColor.red {
    border: 1px solid #FF6860
}
.titleProject {
    font-size: var(--subtitle-font-size);
    font-weight: 500;
    font-style: normal;
    line-height: var(--subtitle-height);
    color: var(--neutral-gray);
}
.titleProject.regular {
    margin: 0px;
    font-weight: 400;
    color: var(--text-color);
}
.titleProject.gray {
    font-weight: 400;
    color: var(--menu-font-color);
}
.titleProject.white {
    color: #FFFFFF;
    font-weight: 400;
}
.titleProject.light {
    color: #FFFFFF;
}
.titleProject.dark {
    align-self: start;
    color: #343951;
}
.titleProject.neutral {
    color: var(--aside-second-color);
}
.miniTitleProject {
    align-self: center;
    font-size: var(--aside-font-size);
    line-height: var(--aside-height);
    font-weight: 400;
    color: var(--secondary-color);
}
.dateProject {
    font-size: var(--aside-font-size);
    line-height: var(--aside-height);
    color: var(--menu-font-color);
}
.dateProject.mini {
    font-size: var(--descrition-font-size);
    line-height: var(--description-height);
}
span {
    font-size: var(--aside-font-size);
    line-height: var(--aside-height);
    color: var(--text-color);
}
.dateProject.middle {
    text-align: center;
}

.table {
   display: grid; 
   row-gap: 1rem;
   align-content: space-between;
}
.tableRow {
    display: grid;
    grid-template-columns:5% 60% 14.5% 14.5% 6%;
    padding: 0.75rem 1rem;
    align-items: center;
    background: var(--main-bg-color);
    border-radius: .5rem;
}
.headRow {
    display: grid;
    grid-template-columns:5% 60% 14.5% 14.5% 6%;
    padding: 0 1rem;
    align-items: center;
}


/*---STORAGE SIDE*/
.storageSide {
    display: grid;
    grid-template-rows: 96px 232px 400px 216px;
    grid-column: 3/4;
    background-color:var(--secondary-color);
    padding: var(--pad);
    border-left: 1px solid var(--icons-bg-color);
}
.userInfo {
    margin-top: 8px;
    display: grid;
    align-content: center;
    grid-template-columns: 32px 87px 90px 21px;
    grid-template-rows: 24px 64px;
    grid-row: 1/2;
}
.userItem {
    width: var(--user-item-size);
    height: var(--user-item-size);
    background-color: var(--menu-font-color);
    border-radius: 4px;
}
.userItem.light {
    background: var(--icons-bg-color);
}
.userItemMini {
    align-self: center;
    width: var(--size--miniItem);
    height: var(--size--miniItem);
    background-color:var(--menu-font-color);
    border-radius: 4px;
}
.userItem.border {
    border: 1px solid #9D9FAF;
    background-color: #F5F6FC;
}
.userItem.borderblack {
    border: 1px solid black;
    background-color: #F5F6FC;
}
.name {
    color:var(--menu-font-color);
    font-size: var(--subtitle-font-size);
    line-height: var(--subtitle-height);
    font-weight: 500;
    font-style: normal;
    
}
.userIcon {
    width: var(--user-icon-size);
    height: var(--user-icon-size);
    background-color: var(--icons-bg-color);
    border-radius: 50%;
}
.storageGraphic {
    display: grid;
    grid-template-rows: 56px 160px 16px;
}
.filesResume {
    display: grid;
    grid-template-rows: repeat(5,64px);
    padding: 40px 0px;
}
.fileItem{
    display: grid;
    align-items: center;
    grid-template-columns: 32px 159px 48px;
    border-bottom: 1px solid var(--icons-bg-color);
}
.fileColor {
    width: var(--user-item-size);
    height: var(--user-item-size);
    border-radius: 8px;
    background-color: var(--second-color-donut);
}
.fileColor.green {
    background-color: var(--first-color-donut);
}
.fileColor.red {
    background-color: var(--fifth-color);
}
.fileColor.blue {
    background-color: var(--fourth-color-donut);
}
.fileColor.gray {
    background-color: var(--neutral-gray);
}

.subtitle {
    line-height: var(--aside-height);
    font-size: var(--aside-font-size);
    float: none;
}
.gigasBox {
    width: var(--width-gigas);
    height: var(--user-item-size);
    background-color: var(--main-bg-color);
    font-size: var(--descrition-font-size);
    line-height: var(--description-height);
    font-weight: 500;
    border-radius: 4px;
    padding: 8px 9.5px;
}
.colorDistortion{
    display: grid;
    padding: 1rem;
    grid-template-rows: 72px 32px 40px 40px;
    justify-items: center;
    height: var(--big-box-height);
    background-color: var(--main-bg-color);
    border-radius: 16px;
}
/*general elements*/

.bigButton {
    border: none;
    width: var(--btn-width);
    height: var(--btn-height);
    border-radius: 8px;
    font-size: var(--subtitle-font-size);
    line-height: var(--subtitle-height);
    color: var(--main-bg-color);
    background: var(--second-color-donut);
}
/*DONUT*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;  
}
  
.donut-chart {
  position: relative;
  width: 130px;
  height: 130px;
  margin: 0 auto 2rem;
  border-radius: 100%
 }
div.center {
  background: var(--main-bg-color);
  position: absolute;
  text-align: center;
  vertical-align: middle;
  font-size: var(--title-font-size);
  font-weight: 500;
  top:0;left:0;bottom:0;right:0;
  width: 115px;
  height: 115px;
  margin: auto;
  border-radius: 50%;
  line-height: 60px;
  padding: 15% 0 0;
  color: var(--text-color);
}
.subtitle.donut {
    font-size: 14px;
    color: #858A9D;
    line-height: 10px;
}
    
    
.portion-block {
    border-radius: 50%;
    clip: rect(0px, 160px, 160px, 80px);
    height: 100%;
    position: absolute;
    width: 100%;
  }
.circle {
    border-radius: 50%;
    clip: rect(0px, 80px, 160px, 0px);
    height: 100%;
    position: absolute;
    width: 100%;
    font-size: 1.5rem;
  }
    
    
#part1 {
    transform: rotate(0deg);
  }

    #part1 .circle {
        background-color: var(--first-color-donut);
        /*transform: rotate(76deg);*/
        animation: first 1s 1 forwards;
      }
    
    
#part2 {
    transform: rotate(40deg);
  }
    #part2 .circle {
        background-color: var(--second-color-donut);
        animation: second 1s 1 forwards 1s;
    }
#part3 {
    transform: rotate(190deg);
}
    #part3 .circle {
        background-color: var(--third-color-donut);
        animation: third 1s 1 forwards 2s;
    }
#part4 {
    transform: rotate(270deg);
}
    #part4 .circle {
        background-color: var(--fourth-color-donut);
        animation: fourth 1s 1 forwards 3s;
    }
    
    
/* Animation */
@keyframes first {
    from {transform: rotate(0deg);}
    to {transform: rotate(40deg);}
}
    
@keyframes second {
    from {transform: rotate(0deg);}
    to {transform: rotate(150deg);}
}
    
@keyframes third {
    from {transform: rotate(0deg);}
    to {transform: rotate(80deg);}
}
@keyframes fourth {
    from {transform: rotate(0deg);}
    to {transform: rotate(90deg);}
}
/*
  .search-field {
    width: 100%;
    padding: 10px 35px 10px 15px;
    border: none;
    border-radius: 100px;
    outline: none;
  }
  
  .search-button {
    background: transparent;
    border: none;
    outline: none;
    margin-left: -33px;
  }
  
  .search-button img {
    width: 20px;
    height: 20px;
    object-fit: cover;
  } */